In [1]:
import os
import pandas as pd
import numpy as np

import plotly.express as px

In [2]:
# Set working dir to main working dir.
os.chdir("c:\\PythonProject\\EDA-Project")
os.getcwd()

'c:\\PythonProject\\EDA-Project'

In [3]:
df_2016 = pd.read_csv("./data/sKor_data_2016_v02.csv")
df_2017 = pd.read_csv("./data/sKor_data_2017_v02.csv")
df_2018 = pd.read_csv("./data/sKor_data_2018_v03.csv")

In [4]:
df_2016.drop(columns= ["Unnamed: 0"], inplace= True)
df_2017.drop(columns= ["Unnamed: 0"], inplace= True)
df_2018.drop(columns= ["Unnamed: 0"], inplace= True)

In [5]:
df_2016["id_hs"] = "2016_" + df_2016["id_hs"] 
df_2016["id_hh"] = "2016_" + df_2016["id_hh"] 
df_2017["id_hs"] = "2017_" + df_2017["id_hs"] 
df_2017["id_hh"] = "2017_" + df_2017["id_hh"] 
df_2018["id_hs"] = "2018_" + df_2018["id_hs"] 
df_2018["id_hh"] = "2018_" + df_2018["id_hh"]

In [6]:
lstOfDfs = [df_2016, df_2017, df_2018]
df_merged = pd.concat(lstOfDfs, ignore_index= True, sort= False)

In [7]:
df_merged.head(10)

,id_hs,id_hh,cat_loc_div,cat_sz_cty,cat_hus_typ,num_flr,num_out_wls,cat_hus_dir_fce,cat_hus_blt_yr,num_hus_ar,...,num_bat,num_out_wds,cat_fuel_heat,cat_cool,cat_fuel_cook,num_hus_mems,cat_mhh_occu,num_tot_energy_heat,num_mhh_age,num_hh_ann_incm
0,2016_HS1101000001,2016_HH13110253,1,1,3,9,4,1,5,125.4,...,2,12,1,3,4,5,1,14787.630000,45,42000000
1,2016_HS1101000002,2016_HH14110053,1,1,2,2,4,3,5,99.0,...,2,20,1,3,4,3,3,15669.590000,55,66000000
2,2016_HS1101000003,2016_HH14110054,1,1,1,1,6,1,4,105.6,...,1,10,1,3,4,4,1,10811.384375,55,12000000
3,2016_HS1101000004,2016_HH14110055,1,1,2,1,6,3,3,158.4,...,1,15,1,3,4,4,1,9699.294732,45,25000000
4,2016_HS1101000006,2016_HH14110056,1,1,1,1,6,1,6,148.5,...,2,8,1,3,5,4,1,16089.620000,55,66000000
5,2016_HS1101000007,2016_HH14110057,1,1,1,1,5,2,3,62.7,...,1,10,1,3,4,3,1,11562.120322,55,54000000
6,2016_HS1101000008,2016_HH14110058,1,1,1,2,5,1,3,115.5,...,1,8,1,3,4,4,3,14162.990000,55,54000000
7,2016_HS1102000001,2016_HH13110255,1,1,2,2,5,2,4,99.0,...,1,10,1,3,4,4,3,15608.880000,55,42000000
8,2016_HS1102000002,2016_HH13110256,1,1,3,11,4,3,4,112.2,...,1,18,1,1,4,4,1,12356.080000,35,78000000
9,2016_HS1102000003,2016_HH11110023,1,1,1,1,5,1,2,122.1,...,2,5,1,3,4,3,5,12259.730000,67,54000000

In [8]:
df_merged.dtypes

id_hs                   object
id_hh                   object
cat_loc_div              int64
cat_sz_cty               int64
cat_hus_typ              int64
num_flr                  int64
num_out_wls              int64
cat_hus_dir_fce          int64
cat_hus_blt_yr           int64
num_hus_ar             float64
num_bed                  int64
num_liv                  int64
num_bat                  int64
num_out_wds              int64
cat_fuel_heat            int64
cat_cool                 int64
cat_fuel_cook            int64
num_hus_mems             int64
cat_mhh_occu             int64
num_tot_energy_heat    float64
num_mhh_age              int64
num_hh_ann_incm          int64
dtype: object

In [9]:
df_merged.shape

(7410, 22)

In [10]:
df_merged.isna().sum()

id_hs                  0
id_hh                  0
cat_loc_div            0
cat_sz_cty             0
cat_hus_typ            0
num_flr                0
num_out_wls            0
cat_hus_dir_fce        0
cat_hus_blt_yr         0
num_hus_ar             0
num_bed                0
num_liv                0
num_bat                0
num_out_wds            0
cat_fuel_heat          0
cat_cool               0
cat_fuel_cook          0
num_hus_mems           0
cat_mhh_occu           0
num_tot_energy_heat    0
num_mhh_age            0
num_hh_ann_incm        0
dtype: int64

In [11]:
df_merged.iloc[:,2:].lt(0).sum()

cat_loc_div            0
cat_sz_cty             0
cat_hus_typ            0
num_flr                0
num_out_wls            0
cat_hus_dir_fce        0
cat_hus_blt_yr         0
num_hus_ar             0
num_bed                0
num_liv                0
num_bat                0
num_out_wds            0
cat_fuel_heat          0
cat_cool               0
cat_fuel_cook          0
num_hus_mems           0
cat_mhh_occu           0
num_tot_energy_heat    0
num_mhh_age            0
num_hh_ann_incm        0
dtype: int64

In [12]:
df_merged.to_csv("./data/sKor_data_tot_v02.csv")