In [1]:
# Import modules for dataframes
import pandas as pd 
import numpy as np 

# Import modules for TensorFlow
import tensorflow as tf 
from tensorflow import keras
from tensorflow.keras import layers
from keras import backend as K

# Import module for Kfold validation
from sklearn.model_selection import KFold

# Import modules for plotting
import plotly.express as px
import matplotlib.pyplot as plt

# Import others
import os

In [2]:
# Setting up working directory
os.chdir("c:\\PythonProject\\EDA-Project")
os.getcwd()

'c:\\PythonProject\\EDA-Project'

In [3]:
# Paths for data files
str_path_train_data = "./data/sKor_train_data.csv"
str_path_test_data = "./data/sKor_test_data.csv"

In [4]:
# Read training data set
df_raw_train = pd.read_csv(str_path_train_data)
# df_raw_train["cat_year"] = df_raw_train["id_hs"].apply(lambda x: int(x.split("_")[0]))
df_raw_train.head(10)

,cat_loc_div,cat_sz_cty,cat_hus_typ,num_flr,num_out_wls,cat_hus_dir_fce,num_hus_blt_yr,num_hus_ar,num_bed,num_liv,num_bat,num_out_wds,cat_fuel_heat,cat_cool,cat_fuel_cook,num_hus_mems,cat_mhh_occu,num_tot_energy_heat,num_mhh_age,num_hh_ann_incm
0,1,1,3,9,4,1,5,125.4,4,1,2,12,1,3,4,5,1,14787.630000,45,42000000.0
1,1,1,2,2,4,3,5,99.0,3,1,2,20,1,3,4,3,3,15669.590000,55,66000000.0
2,1,1,1,1,6,1,4,105.6,3,1,1,10,1,3,4,4,1,10811.384380,55,12000000.0
3,1,1,2,1,6,3,3,158.4,3,1,1,15,1,3,4,4,1,9699.294732,45,25000000.0
4,1,1,1,1,6,1,6,148.5,4,1,2,8,1,3,5,4,1,16089.620000,55,66000000.0
5,1,1,1,1,5,2,3,62.7,3,1,1,10,1,3,4,3,1,11562.120320,55,54000000.0
6,1,1,2,2,5,2,4,99.0,2,1,1,10,1,3,4,4,3,15608.880000,55,42000000.0
7,1,1,3,11,4,3,4,112.2,3,1,1,18,1,1,4,4,1,12356.080000,35,78000000.0
8,1,1,1,1,5,1,2,122.1,4,1,2,5,1,3,4,3,5,12259.730000,67,54000000.0
9,1,1,1,1,6,1,2,102.3,2,1,1,7,1,3,4,2,5,16839.220000,67,42000000.0

In [5]:
# Read test data set
df_raw_test = pd.read_csv(str_path_test_data)
# df_raw_test["cat_year"] = df_raw_test["id_hs"].apply(lambda x: int(x.split("_")[0]))
df_raw_test.head(10)

,cat_loc_div,cat_sz_cty,cat_hus_typ,num_flr,num_out_wls,cat_hus_dir_fce,num_hus_blt_yr,num_hus_ar,num_bed,num_liv,num_bat,num_out_wds,cat_fuel_heat,cat_cool,cat_fuel_cook,num_hus_mems,cat_mhh_occu,num_tot_energy_heat,num_mhh_age,num_hh_ann_incm
0,1,1,1,2,5,1,3,115.5,3,1,1,8,1,3,4,4,3,14162.990000,55,54000000.0
1,1,1,3,1,5,2,5,112.2,3,1,2,10,1,3,4,6,2,17831.134310,45,66000000.0
2,1,1,1,1,5,2,4,125.4,4,1,2,6,1,1,4,5,1,8136.007293,55,54000000.0
3,1,1,1,1,5,4,1,66.0,2,1,1,8,2,1,3,4,5,9871.260000,67,54000000.0
4,1,1,1,2,5,4,4,46.2,2,1,1,3,1,3,4,5,5,8548.341822,55,18000000.0
5,1,1,1,3,5,2,5,75.9,3,1,1,8,1,3,4,4,1,8565.561386,45,42000000.0
6,1,1,1,2,5,3,4,75.9,3,1,1,10,1,3,4,4,1,12080.630000,55,25000000.0
7,1,1,1,1,5,2,4,92.4,3,1,2,10,1,1,4,1,2,6800.980000,45,18000000.0
8,1,1,3,18,2,3,5,112.2,3,1,2,14,1,3,4,4,1,13422.219310,55,96000000.0
9,1,1,3,5,2,3,5,82.5,3,1,1,7,1,3,4,4,1,10218.810000,35,42000000.0

In [6]:
# Copy train data set
df_train = df_raw_train.copy()
df_test = df_raw_test.copy()

In [7]:
# Clean up unused colums
lst_cols = list(df_train.columns)
# lst_cols.pop(lst_cols.index("id_hh"))
# lst_cols.pop(lst_cols.index("id_hs"))
print(lst_cols)

['cat_loc_div', 'cat_sz_cty', 'cat_hus_typ', 'num_flr', 'num_out_wls', 'cat_hus_dir_fce', 'num_hus_blt_yr', 'num_hus_ar', 'num_bed', 'num_liv', 'num_bat', 'num_out_wds', 'cat_fuel_heat', 'cat_cool', 'cat_fuel_cook', 'num_hus_mems', 'cat_mhh_occu', 'num_tot_energy_heat', 'num_mhh_age', 'num_hh_ann_incm']

In [8]:
# Numerical feature columns 
lst_cols_num = [l for l in lst_cols if l.split("_")[0] == "num"]
lst_cols_num.pop(lst_cols_num.index("num_tot_energy_heat"))
print(lst_cols_num)

# Categorical feature columns
lst_cols_cat = [l for l in lst_cols if l.split("_")[0] == "cat"]
print(lst_cols_cat)

['num_flr', 'num_out_wls', 'num_hus_blt_yr', 'num_hus_ar', 'num_bed', 'num_liv', 'num_bat', 'num_out_wds', 'num_hus_mems', 'num_mhh_age', 'num_hh_ann_incm']
['cat_loc_div', 'cat_sz_cty', 'cat_hus_typ', 'cat_hus_dir_fce', 'cat_fuel_heat', 'cat_cool', 'cat_fuel_cook', 'cat_mhh_occu']

In [9]:
# If needed, filter data frame here and check data types
lst_cols_fil = lst_cols_num + lst_cols_cat + ["num_tot_energy_heat"]
df_train_fil = df_train[lst_cols_fil]
df_test_fil = df_test[lst_cols_fil]
print(df_train_fil.dtypes)
print(df_test_fil.dtypes)

num_flr                  int64
num_out_wls              int64
num_hus_blt_yr           int64
num_hus_ar             float64
num_bed                  int64
num_liv                  int64
num_bat                  int64
num_out_wds              int64
num_hus_mems             int64
num_mhh_age              int64
num_hh_ann_incm        float64
cat_loc_div              int64
cat_sz_cty               int64
cat_hus_typ              int64
cat_hus_dir_fce          int64
cat_fuel_heat            int64
cat_cool                 int64
cat_fuel_cook            int64
cat_mhh_occu             int64
num_tot_energy_heat    float64
dtype: object
num_flr                  int64
num_out_wls              int64
num_hus_blt_yr           int64
num_hus_ar             float64
num_bed                  int64
num_liv                  int64
num_bat                  int64
num_out_wds              int64
num_hus_mems             int64
num_mhh_age              int64
num_hh_ann_incm        float64
cat_loc_div              int64
cat_sz_cty               int64
cat_hus_typ              int64
cat_hus_dir_fce          int64
cat_fuel_heat            int64
cat_cool                 int64
cat_fuel_cook            int64
cat_mhh_occu             int64
num_tot_energy_heat    float64
dtype: object

In [10]:
# Convert categorical variables into category type
for cat in lst_cols_cat:
    df_train_fil[cat] = df_train_fil[cat].astype("category")
    df_test_fil[cat] = df_test_fil[cat].astype("category")
    
print(df_train_fil.dtypes)
print(df_test_fil.dtypes)

num_flr                   int64
num_out_wls               int64
num_hus_blt_yr            int64
num_hus_ar              float64
num_bed                   int64
num_liv                   int64
num_bat                   int64
num_out_wds               int64
num_hus_mems              int64
num_mhh_age               int64
num_hh_ann_incm         float64
cat_loc_div            category
cat_sz_cty             category
cat_hus_typ            category
cat_hus_dir_fce        category
cat_fuel_heat          category
cat_cool               category
cat_fuel_cook          category
cat_mhh_occu           category
num_tot_energy_heat     float64
dtype: object
num_flr                   int64
num_out_wls               int64
num_hus_blt_yr            int64
num_hus_ar              float64
num_bed                   int64
num_liv                   int64
num_bat                   int64
num_out_wds               int64
num_hus_mems              int64
num_mhh_age               int64
num_hh_ann_incm         float64
cat_loc_div            category
cat_sz_cty             category
cat_hus_typ            category
cat_hus_dir_fce        category
cat_fuel_heat          category
cat_cool               category
cat_fuel_cook          category
cat_mhh_occu           category
num_tot_energy_heat     float64
dtype: object

In [11]:
# Create dummy (on-hot coding) columns for each categorical labels
for cat in lst_cols_cat:
    df_train_fil = pd.get_dummies(df_train_fil, columns= [cat], prefix= cat, prefix_sep="_")
    df_test_fil = pd.get_dummies(df_test_fil, columns= [cat], prefix= cat, prefix_sep="_")
    
print(df_train_fil.dtypes)
print(df_test_fil.dtypes)

num_flr                  int64
num_out_wls              int64
num_hus_blt_yr           int64
num_hus_ar             float64
num_bed                  int64
num_liv                  int64
num_bat                  int64
num_out_wds              int64
num_hus_mems             int64
num_mhh_age              int64
num_hh_ann_incm        float64
num_tot_energy_heat    float64
cat_loc_div_1            uint8
cat_loc_div_2            uint8
cat_loc_div_3            uint8
cat_sz_cty_1             uint8
cat_sz_cty_2             uint8
cat_hus_typ_1            uint8
cat_hus_typ_2            uint8
cat_hus_typ_3            uint8
cat_hus_dir_fce_1        uint8
cat_hus_dir_fce_2        uint8
cat_hus_dir_fce_3        uint8
cat_hus_dir_fce_4        uint8
cat_fuel_heat_1          uint8
cat_fuel_heat_2          uint8
cat_fuel_heat_3          uint8
cat_fuel_heat_4          uint8
cat_fuel_heat_5          uint8
cat_cool_1               uint8
cat_cool_2               uint8
cat_cool_3               uint8
cat_fuel_cook_3          uint8
cat_fuel_cook_4          uint8
cat_fuel_cook_5          uint8
cat_mhh_occu_1           uint8
cat_mhh_occu_2           uint8
cat_mhh_occu_3           uint8
cat_mhh_occu_4           uint8
cat_mhh_occu_5           uint8
dtype: object
num_flr                  int64
num_out_wls              int64
num_hus_blt_yr           int64
num_hus_ar             float64
num_bed                  int64
num_liv                  int64
num_bat                  int64
num_out_wds              int64
num_hus_mems             int64
num_mhh_age              int64
num_hh_ann_incm        float64
num_tot_energy_heat    float64
cat_loc_div_1            uint8
cat_loc_div_2            uint8
cat_loc_div_3            uint8
cat_sz_cty_1             uint8
cat_sz_cty_2             uint8
cat_hus_typ_1            uint8
cat_hus_typ_2            uint8
cat_hus_typ_3            uint8
cat_hus_dir_fce_1        uint8
cat_hus_dir_fce_2        uint8
cat_hus_dir_fce_3        uint8
cat_hus_dir_fce_4        uint8
cat_fuel_heat_1          uint8
cat_fuel_heat_2          uint8
cat_fuel_heat_3          uint8
cat_fuel_heat_4          uint8
cat_fuel_heat_5          uint8
cat_cool_1               uint8
cat_cool_2               uint8
cat_cool_3               uint8
cat_fuel_cook_3          uint8
cat_fuel_cook_4          uint8
cat_fuel_cook_5          uint8
cat_mhh_occu_1           uint8
cat_mhh_occu_2           uint8
cat_mhh_occu_3           uint8
cat_mhh_occu_4           uint8
cat_mhh_occu_5           uint8
dtype: object

In [12]:
# Define beackend function for R_Squared metrics
# Use if necessary with correction of model build function
def coeff_determination(y_true, y_pred):
    SS_res = K.sum(K.square( y_true-y_pred )) 
    SS_tot = K.sum(K.square( y_true - K.mean(y_true) ) ) 
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

In [39]:
# Define DNN model to be used
def build_and_compile_model(norm, in_int_nodes):
    
    model = keras.Sequential([
        norm,
        layers.Dense(in_int_nodes, activation='relu'),
        # layers.Dropout(rate= 0.2),
        layers.Dense(in_int_nodes, activation='relu'),
        # layers.Dropout(rate= 0.2),
        # layers.Dense(100, activation='relu'),
        layers.Dense(1)
    ])
    
    optimizer = tf.keras.optimizers.Adam(0.00005)
        
    model.compile(
        loss = "mean_absolute_percentage_error",
        optimizer = optimizer,
        metrics = [
                tf.keras.metrics.RootMeanSquaredError(), # RMSE                
                tf.keras.metrics.MeanAbsoluteError(), # MAE
                tf.keras.metrics.MeanAbsolutePercentageError(), # MAPE
                # coeff_determination, # Use if necessary
            ],        
    )
    return model

In [24]:
train_features = df_train_fil.copy()
test_featrues = df_test_fil.copy()

train_label = train_features.pop("num_tot_energy_heat")
test_label = test_featrues.pop("num_tot_energy_heat")

In [25]:
# Define trial nodes
lst_int_dnn_nodes = [40, 50, 60, 70, 80, 100]

# Define K value for Kfold CV
n_split = 10

# Early stop call back
early_stop = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)

# Define normalization layer and adapt with training data
normalizer = tf.keras.layers.Normalization(axis=-1)
normalizer.adapt(np.array(train_features))

# Adapt normalizing layer and check it
first = np.array(train_features[:1])

with np.printoptions(precision=2, suppress=True):
    print('First example:', first)
    print()
    print('Normalized:', normalizer(first).numpy())

First example: [[       9.         4.         5.       125.4        4.         1.
         2.        12.         5.        45.  42000000.         1.
         0.         0.         1.         0.         0.         0.
         1.         1.         0.         0.         0.         1.
         0.         0.         0.         0.         0.         0.
         1.         0.         1.         0.         1.         0.
         0.         0.         0. ]]

Normalized: [[ 0.92 -0.19  0.86  1.33  1.81  0.17  1.43  0.73  1.71 -0.77  0.13  1.34
  -0.57 -0.81  1.12 -1.12 -0.78 -0.43  1.08  1.12 -0.66 -0.46 -0.3   0.73
  -0.49 -0.3  -0.21 -0.19 -0.6  -0.11  0.62 -0.63  0.84 -0.38  1.04 -0.25
  -0.56 -0.2  -0.47]]

In [26]:
# Convert Dataframe into array
train_features_array = np.array(train_features)
train_label_array = np.array(train_label)

lst_df_eval_nodes = []
lst_df_eval_nodes_cv = []

for node in lst_int_dnn_nodes:
    
    dic_model_eval_cv = {}
    cv_idx = 0
    
    for train_idx, test_idx in KFold(n_split, shuffle= True, random_state= 123).split(train_features_array, train_label_array):
        
        cv_idx += 1
        
        cv_features_train = train_features_array[train_idx]
        cv_features_test = train_features_array[test_idx]
        cv_label_train = train_label_array[train_idx]
        cv_label_test = train_label_array[test_idx]         
        
        dnn_model = build_and_compile_model(normalizer, node)
        
        dnn_model.fit(
            cv_features_train,
            cv_label_train,
            validation_split=0.2,
            verbose=0, epochs=1000,
            callbacks= [early_stop],
        )
        
        dic_model_eval_cv["cv_{}".format(cv_idx)] = list(dnn_model.evaluate(cv_features_test, cv_label_test, verbose=0))
        
    df_cv_res = pd.DataFrame(dic_model_eval_cv)
    df_cv_res = df_cv_res.iloc[1:,]
    df_cv_res = df_cv_res.transpose()
    dic_single = pd.DataFrame([list(df_cv_res.mean())], columns= ["RMSE", "MAE", "MAPE"])
    dic_single.rename(index= {0:"node_{}".format(node)}, inplace=True)
    
    lst_df_eval_nodes.append(dic_single)
    lst_df_eval_nodes_cv.append(df_cv_res)

In [27]:
df_concat_row = pd.concat(lst_df_eval_nodes, ignore_index= False, sort= False)
df_concat_row

                 RMSE          MAE       MAPE
node_40   4790.100732  3366.343799  37.373789
node_50   4756.506445  3342.033496  37.238596
node_60   4754.975830  3342.289941  37.388077
node_70   4749.651221  3334.882544  37.290492
node_80   4746.194824  3333.197559  37.176326
node_100  4737.874512  3324.022949  37.258783

In [28]:
df_concat_row.to_csv("./data/dnn_10_cv_nod_02.csv")

In [29]:
lst_df_eval_nodes_cv

[                 1            2          3
 cv_1   5181.994629  3456.738037  35.580555
 cv_2   5457.651367  3592.119385  37.829189
 cv_3   4909.529785  3181.473389  31.386015
 cv_4   4750.627441  3556.565430  38.236027
 cv_5   5024.836914  3542.125488  44.497944
 cv_6   4677.944336  3299.793457  41.934055
 cv_7   4468.537109  3250.980713  35.219475
 cv_8   4585.468262  3439.635498  38.158550
 cv_9   4290.014648  3120.240479  33.480236
 cv_10  4554.402832  3223.766113  37.415844,
                  1            2          3
 cv_1   5125.167480  3446.493164  35.577930
 cv_2   5441.891602  3578.659668  38.029610
 cv_3   4883.252441  3167.155762  31.171286
 cv_4   4706.846191  3519.813232  38.055229
 cv_5   5012.402832  3540.507568  44.543705
 cv_6   4610.012695  3248.840576  41.580734
 cv_7   4477.764160  3243.848145  35.403576
 cv_8   4551.558105  3402.750488  38.166817
 cv_9   4241.678711  3071.752686  32.944721
 cv_10  4514.490234  3200.513672  36.912350,
                  1            2          3
 cv_1   5116.161621  3446.717529  35.639103
 cv_2   5419.720703  3570.555664  38.336617
 cv_3   4904.929688  3165.553223  31.335238
 cv_4   4709.498535  3502.206299  38.205528
 cv_5   5015.160156  3543.583496  44.984428
 cv_6   4571.314453  3230.350586  41.512684
 cv_7   4466.154785  3255.274658  35.496372
 cv_8   4571.961914  3414.868164  37.821022
 cv_9   4264.193359  3103.135498  33.378597
 cv_10  4510.663086  3190.654297  37.171185,
                  1            2          3
 cv_1   5088.980469  3434.865234  35.455147
 cv_2   5444.318359  3588.177246  38.192822
 cv_3   4935.660645  3171.599609  31.242546
 cv_4   4695.607422  3503.732666  37.975098
 cv_5   5023.424805  3544.273438  44.442932
 cv_6   4555.699707  3198.474121  41.335869
 cv_7   4453.381348  3223.032227  35.503674
 cv_8   4524.172363  3382.349121  37.879921
 cv_9   4241.293945  3076.969482  32.987480
 cv_10  4533.973145  3225.352295  37.889435,
                  1            2          3
 cv_1   5086.649902  3424.765381  35.405628
 cv_2   5437.070801  3588.023926  38.338982
 cv_3   4890.780273  3155.162598  31.252905
 cv_4   4692.645508  3494.347168  37.996071
 cv_5   4998.479004  3521.653809  43.919586
 cv_6   4588.359863  3241.601074  41.443748
 cv_7   4449.034668  3239.199463  35.297409
 cv_8   4549.297852  3393.540527  37.940639
 cv_9   4261.806641  3092.359131  33.213009
 cv_10  4507.823730  3181.322510  36.955284,
                  1            2          3
 cv_1   5085.895508  3428.328613  35.453457
 cv_2   5425.054688  3584.361328  38.380817
 cv_3   4914.618164  3165.164307  31.224972
 cv_4   4704.893555  3488.956055  37.753597
 cv_5   4995.002930  3514.763184  45.040905
 cv_6   4551.833496  3203.027344  41.422421
 cv_7   4407.696289  3192.464600  35.037411
 cv_8   4528.592773  3376.370850  37.706356
 cv_9   4271.369629  3108.715332  33.438660
 cv_10  4493.788086  3178.077881  37.129234]

In [40]:
dnn_model_fin = build_and_compile_model(normalizer, 30)
dnn_model_fin.summary()

Model: "sequential_192"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization_2 (Normalizat  (None, 39)               79
 ion)

 dense_576 (Dense)           (None, 30)                1200

 dense_577 (Dense)           (None, 30)                930

 dense_578 (Dense)           (None, 1)                 31

=================================================================
Total params: 2,240
Trainable params: 2,161
Non-trainable params: 79
_________________________________________________________________

In [41]:
history = dnn_model_fin.fit(
    train_features_array,
    train_label_array,
    validation_split=0.2,
    verbose=0, epochs=1000,
    callbacks= [early_stop],
)

In [44]:
test_featrues_array = np.array(test_featrues)
test_label_array = np.array(test_label)

dnn_model_fin.evaluate(test_featrues_array, test_label_array, verbose=0)

[33.20449447631836, 5499.42822265625, 3716.8154296875, 33.20449447631836]

In [45]:
dnn_model_fin.save("./Python/dnn_model_fin")

INFO:tensorflow:Assets written to: ./Python/dnn_model_fin\assets

In [46]:
saved_dnn_model_fin = tf.keras.models.load_model("./Python/dnn_model_fin")

In [47]:
saved_dnn_model_fin.evaluate(test_featrues_array, test_label_array, verbose=0)

[33.20449447631836, 5499.42822265625, 3716.8154296875, 33.20449447631836]